<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">

<head>
    <title> Ubah Obat </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <h1 align="center">Sistem Informasi Obat</h1>
    <div class="container">
        <div class="bg-dark">
            <p align="center" style="color: white">Ubah Obat</p>
        </div>
        <form class="form-horizontal" th:action="@{/obat/ubah?idObat=}+${obat.idObat}" th:object="${obat}" method="POST">
            <h2 th:text="${obat.namaObat}"></h2>
            <input type="hidden" th:field="${obat.idObat}">
            <div class="form-group">
                <label class="control-label col-sm-2">Nama</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Nama Obat" name="namaObat" th:value="${obat.namaObat}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Nomor Registrasi</label>
                <div class="col-sm-4">
                    <input type="hidden" th:field="${obat.nomorRegistrasi}">
                    <h3 th:text="${obat.nomorRegistrasi}"></h3>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Tanggal Terbit</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" name="tanggalTerbit" th:value="${obat.tanggalTerbit}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Harga</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" name="harga" th:value="${obat.harga}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Bentuk</label>
                <div class="col-sm-4">
                    <select class="form-control" required name="bentuk">
                        <option value="">-- Pilih Jenis --</option>
                        <option value="Cairan">Cairan</option>
                        <option value="Kapsul">Kapsul</option>
                        <option value="Tablet">Tablet</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Jenis</label>
                <div class="col-sm-4">
                    <input type="hidden" th:field="${obat.jenis}">
                    <h3 th:text="${obat.jenis}"></h3>
                </div>
            </div>

            <button class="btn btn-primary" type="submit"> Submit </button>
        </form>
    </div>
</div>
</body>